

DATABASE_URL="postgresql://neondb_owner:npg_2DzvRITwkX7i@ep-nameless-morning-aob255s4-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
NEON_AUTH_BASE_URL=https://ep-nameless-morning-aob255s4.neonauth.c-2.ap-southeast-1.aws.neon.tech/neondb/auth

NEON_AUTH_COOKIE_SECRET=7XjjoUodD9C9i8eG5AylLdhc7n6C9gEpFq6xwgrMtsM1